﻿<umb-panel ng-controller="TagManager.TagManagerEditController">
	<umb-header>
	<div class="span4">
	    <h1>Edit Tag - {{cmsTags.tag}} ({{cmsTags.noTaggedNodes}})</h1>
	</div>
	<div class="span8">
		<div class="btn-toolbar pull-right umb-btn-toolbar">
			<a href="#" class="btn btn-primary" ng-click="save(cmsTags)" prevent-default>Save</a>
            <a href="#" class="btn btn-primary" ng-click="deleteTag(cmsTags)" prevent-default>Delete</a>
		</div>
	</div>
	</umb-header>

   
    <div class="tab-content form-horizontal">

	    <div class="umb-panel-body">

		    <div class="umb-pane">
					<umb-control-group label="Tag Name">
						<input type="text" class="umb-editor umb-textstring" ng-model="cmsTags.tag" />
					</umb-control-group>
		    </div>



            <div class="umb-pane">
					<umb-control-group label="Tagged Content">
                            <div ng-repeat="taggedDocument in cmsTags.taggedDocuments">
                                <a href="{{taggedDocument.DocumentURL}}">{{taggedDocument.DocumentName}}</a>
                            </div>
					</umb-control-group>
                <umb-control-group label="Tagged Media">
                            <div ng-repeat="taggedMedia in cmsTags.taggedMedia">
                                <a href="{{taggedMedia.DocumentURL}}">{{taggedMedia.DocumentName}}</a>
                            </div>
					</umb-control-group>
		    </div>

            <div class="umb-pane">
					<umb-control-group label="Merge Tags" description="Select a tag to merge this one to">
                       
                        <select ng-model="cmsTags.tagsInGroup.selectedItem" ng-options="tag.tag for tag in cmsTags.tagsInGroup.options track by tag.id" name="dropdownList">
                            <option value="">Please select</option>                        
                        </select>
                        
					</umb-control-group>
		    </div>
	    </div>
   </div>
            
</umb-panel>
